<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Started</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
  <header class="navbar">
    <a href="/">
        <img src="/static/logo2.png" alt="Logo" class="navbar-logo">
    </a>
    <h1 class="navbar-title">Image Filters</h1>
  </header>
  <div class="container">
    <main class="content">
      <div class="text">
        <h1 class="cover-heading">Unleash your creativity: Free online photo editing</h1>
        <p class="lead">Unleash your inner artist and transform photos into stunning visuals with Clipix's intuitive magic. From effortless drag-and-drop tools to advanced editing that practically edits for you, Clipix empowers anyone to create professional-looking edits. It's photo editing freedom - turn your creative vision into reality, one captivating image at a time</p>
        <button class="btn" onclick="redirectToIndex()">Get Started</button>  
    </div>
    </main>
    <aside class="image-container">
      <img class="image" src="/static/font.jpg" alt="Image description">
    </aside>
  </div>

  <script>
    function redirectToIndex() {
        // Redirect to index.html
        window.location.href = "/index.html";
    };
    // Add event listener to a button (replace with your button element)
    document.getElementById("myButton").addEventListener("click", function() {
        // Code to execute when the button is clicked
    });
  </script>
</body>
</html>
